body {
  margin: 0;
  overflow: hidden;
  color: #515151;
}
.container {
  display: grid;
  width: 100%;
  height: calc(100vh - 25px);
  grid-template-columns: auto 1fr;
}
.sidebar {
  padding: 20px;
  background: #e7efef;
  min-width: 200px;
  border: 1px solid #bdb9b9;
}
.mainData {
  border: 1px solid #bdb9b9;
}

.mainData .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

* {
  box-sizing: border-box;
}

.dbName {
  grid-row: 2/4;
  grid-column: 2/5;

  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;
}

.noOfConnection {
  grid-row: 2/5;
  grid-column: 8/12;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  position: relative;
}

.simpleStatus {
  grid-column: 2/6;
  grid-row: 6/11;

  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.simpleStatus table td {
  padding: 10px 20px;
}

.bottomControl {
  /* display: grid; */
  /* background: aliceblue; */
  grid-row: 12/-1;
  grid-column: 1/-1;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-right: 20px;
}

.componentLabel {
  font-size: 1rem;
  position: absolute;
  bottom: 4px;
  right: 4px;
  /* color: #a0a0a0; */
}

.looks {
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #ebf6fe;
}

button {
  min-width: 100px;
  min-height: 40px;
  border: 0;
  background: #d1ebfe;
  cursor: pointer;
}
.collectionDetails {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.queryContainer {
  height: 140px;
  border-bottom: 1px solid #000;
  background: black;
}
.queryContainer #query {
  height: 70%;
  width: 100%;
}
.collectionDetails #data{
    overflow: auto;
}

#data tr:nth-child(1) {
    background: #d6ecff;
}
#data th {
    padding: 5px 5px;
    text-align: center;
}
#data td {
    padding: 3px 5px;
    text-align: center;
}
#data tr:nth-child(2n) {
    background: #f5efef;
}
#data table {
    border: 1px solid #e0dbdb;
    padding: 3px 10px;
}