table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #a5a5a5;
}

td {
    text-align: center;
    padding: 5px 10px;
    /* border: 1px solid; */
    border-spacing: -22px;
}

tr {
    /* background: aliceblue; */
}

tr:nth-child(2n) {
    background: #eaeaea;
}

thead tr:nth-child(1) {
    background: aliceblue;
    /* padding: 10px; */
}

thead th {
    padding: 10px;
    color: #545454;
}

