


table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #a5a5a5;
}

td {
    text-align: center;
    padding: 5px 10px;
    /* border: 1px solid; */
    border-spacing: -22px;
}

tr {
    /* background: aliceblue; */
}

tr:nth-child(2n) {
    background: #eaeaea;
}

thead tr:nth-child(1) {
    background: aliceblue;
    /* padding: 10px; */
}

thead th {
    padding: 10px;
    color: #545454;
}



.actionContainerDiv {
    /* background: aliceblue; */
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.actionIcon {
    padding: 4px 8px;
}

.actionIconEdit {
    font-size: 1.2rem;
}

.addNewOrEdit {
    border: 1px solid #eaeaea;
    padding: 10px;
    margin-top: 10px;
}

label {
    display: inherit;
}

input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #b0adad;
    border-radius: 2px;
}

.splitAuto {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    /* justify-content: flex-start; */
    padding: 10px 0;
}
.splitEqual{
    grid-template-columns: 1fr 1fr;
}

.rightAlignContent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}