
.col {
    width: 70px;
}
.row {
    margin: 20px 0px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}
.col-10 {
    width: calc(100% - 70px);
}
.col-10 .remWidth {
    width: 100%;
}
.col-10 .host {
    width: calc(100% - 169px);
}
.col-10 {
    width: calc(100% - 70px);
    box-sizing: border-box;
}
input.remWidth {
    padding: 0px;
    margin: unset;
    box-sizing: border-box;
}
.Container {
    border: 1px solid #cac5c5;
    padding: 5px 14px;
    background: white;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 95vh;
    box-sizing: border-box;
}
.controls {
    display: flex;
    justify-content: space-between;
}
.controls button {
    width: 60px;
}